header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

p {
  all: unset;
  display: inline-block;
  font-size: clamp(1.5rem, 3.5vw, 2.2rem);
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}
p::-webkit-scrollbar {
  display: none;
}
