<header>
  <div class="name-with-options">
    @if (groupFriendName() !== "") {
      <p class="group-name" (click)="toggleOptions()">
        {{groupFriendName()}}
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
      </p>
    }
    @if (areOptionsVisible()) {
      <div class="options-dropdown">
        <button class="option-btn delete-btn" (click)="deleteGroup()">
          <mat-icon>delete</mat-icon>
          Delete group
        </button>
        <button class="option-btn rename-btn" (click)="showRenameInput()">
          <mat-icon>edit</mat-icon>
          Rename group
        </button>
        @if (isRenaming()) {
          <div class="rename-container">
            <input type="text" [(ngModel)]="newGroupName" maxlength="32" placeholder="New name" class="rename-input">
            <button class="save-btn" (click)="renameGroup()">Save</button>
          </div>
        }
      </div>
    }
  </div>
 
  @if (!isPrivate()) {
    <div class="addUserContainer">
      <div class="input-button-group">
        <input type="text" placeholder="username" maxlength="32" [(ngModel)]="username" class="username-input">
        <button (click)="addUser()" class="add-user-btn">Add User</button>
      </div>
    </div>
  }
  @if(isInFullChatMode()) {
    <mat-icon (click)="returnToNormalModeEvent.emit()" svgIcon="return" class="return-icon"></mat-icon>
  }
</header>