@if (isDeleting()) {
  <div class="backdrop" (click)="hideGroupDeleteConfirmation()"></div>
  <dialog open>
    <form (ngSubmit)="deleteGroup()">
      <p>
        @if (isPrivate()) {
          <h2 for="title">Are you sure, you want to remove this friend?</h2>
        }
        @else {
          <h2 for="title">Are you sure, you want to delete this group?</h2>
        }
        <p class="actions">
          <button type="button" (click)="hideGroupDeleteConfirmation()">Cancel</button>
          <button type="submit">Delete</button>
        </p>
    </form>
  </dialog>
}

<header>
  <div class="name-with-options">
    @if (groupFriendName() !== "") {
      <div class="group-name" (click)="toggleOptions()">
        <span class="group-text">{{ groupFriendName() }}</span>
        <mat-icon class="dropdown-icon">expand_more</mat-icon>
      </div>
    }
    @if (areOptionsVisible()) {
      <div class="options-dropdown">
        <div id="group-full-name" >
          {{groupFriendName()}}
        </div>

        @if (!isPrivate()) {
          <button class="option-btn rename-btn" (click)="showAddingUserInput()">
            <mat-icon>add</mat-icon>
            Add user
          </button>
        }
        @if (isAddingUser()) {
          <div class="rename-container">
            <input type="text" [(ngModel)]="username" maxlength="16" placeholder="Username" class="rename-input">
            <button class="save-btn" (click)="addUser()">Add</button>
          </div>
        }
        <button class="option-btn delete-btn" (click)="showGroupDeleteConfirmation()">
          <mat-icon>delete</mat-icon>
          @if (!isPrivate()) {
            Delete group
          } @else {
            Remove friend
          }
        </button>
        @if(!isPrivate()) {
          <label class="option-btn photo-btn">
          <mat-icon>photo_camera</mat-icon>
          Change photo
          <input type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
        </label>
        <button class="option-btn rename-btn" (click)="showRenameInput()">
          <mat-icon>edit</mat-icon>
          Rename group
        </button>
        @if (isRenaming()) {
          <div class="rename-container">
            <input type="text" [(ngModel)]="newGroupName" maxlength="32" placeholder="New name" class="rename-input">
            <button class="save-btn" (click)="renameGroup()">Save</button>
          </div>
        }
        }
      </div>
    }
  </div>
  @if(isInFullChatMode()) {

      <mat-icon (click)="showMembersAndNotifications.emit()" svgIcon="ellipsisHorizontal" class="return-icon"></mat-icon>
      <mat-icon (click)="returnToNormalModeEvent.emit()" svgIcon="return" class="return-icon"></mat-icon>
  }
</header>
