<div class="content">
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
  <app-chat-message></app-chat-message>
</div>


