:host {
  width: 100%;
  height: 100%;
}

form {
  all: unset;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.bar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;

  background: rgb(62, 35, 88);
}

.bar input {
  all: unset;
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.2rem);

  padding: 5px 5px 5px 3%;
}

svg, mat-icon {
  height: 90%;
  aspect-ratio: 1/1;
}

button {
  all: unset;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 20%;

}

#fileName {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-self: flex-start;

  font-size: clamp(1rem, 1vw, 1.2rem);
  height: 100%;
  max-width: 20%;
  text-overflow: ellipsis;
  font-style: italic;
  overflow-x: scroll;
  white-space: nowrap;
  line-break: unset;
}

#fileName::-webkit-scrollbar {
  display: none;
}

button:hover {
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}
