<form [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value.message)">
  <div class="bar">
    <input
      type="text"
      formControlName="message"
      placeholder="Type your message..."
    >

    <button type="button" class="emojiContainer" (click)="toggleEmojisView($event)">
      @if(emojiView()) {
    <div class="emoji-panel" (click)="$event.stopPropagation()">
    <div class="emoji-grid">
      @for(emoji of emojis; track emoji) {
        <button
          type="button"
          class="emoji-btn"
          (click)="addEmoji(emoji)">
          {{emoji}}
         </button>
        }
      </div>
    </div>
  } 
      <mat-icon svgIcon="emoji"></mat-icon>
    </button>

    @if(selectedFile) {
      <div id="fileName" (click)="triggerFileInput()">
        {{selectedFile.name}}
      </div>
    }
    @else {
      <button type="button" (click)="triggerFileInput()">
          <mat-icon svgIcon="attachment"></mat-icon>
      </button>
    }

    @if(selectedFile) {
      <button type="button" (click)="selectedFile = undefined;">
        <mat-icon svgIcon="return"></mat-icon>
      </button>
    }


  </div>

  <button type="submit">
    <mat-icon svgIcon="paperPlane"></mat-icon>
  </button>

  <!-- Hidden file input -->
  <input type="file" #fileInput (change)="onFileSelected($event)" hidden>

</form>
