<app-friend-group-search></app-friend-group-search>
<section>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
  <app-user-card></app-user-card>
</section>
