<app-friend-group-search></app-friend-group-search>
<section>
  @if(filteredGroups().length == 0) {
    @if(groupsViewEnabled()) {
      <p>You don't have any groups :(</p>
    } @else {
      <p>No friends :( Add friends bro</p>
    }

  }
  @for(groupId of filteredGroups(); track groupId.id) {
    <app-user-card
      [userName]="groupId.name"
      [profileImageURL]='groupId.photoUrl ?? "../../../../assets/images/default-user.jpg"'
      [lastMessage]='groupId.lastMessage ?? "no last messages"'
      (click) = "onGroupFriendClicked.emit(groupId.id)"
    ></app-user-card>
  }
</section>
