<app-friend-group-search (searchTextChanged)="handleSearchTextChange($event)"></app-friend-group-search>
<section>
  @if(filteredGroups().length == 0) {
    @if(groupsViewEnabled()) {
      <p>You don't have any groups :(</p>
    } @else {
      <p>No friends :( Add friends bro</p>
    }

  }
  @for(group of filteredGroups(); track group.id) {
    <app-user-card
      [userName]="group.name"
      [profileImageURL]='group.photoUrl ?? "../../../../assets/images/default-user.jpg"'
      [lastMessage]='group.lastMessage ?? "no last messages"'
      (click) = "onGroupFriendClicked.emit(group.id)"
    ></app-user-card>
  }
</section>
