<div class="background"></div>

<div class="content">
   <div class="navbar">
      <div class="profile">
         <div class="profile-image">
            @if(previewUrl){
               <img [src]="previewUrl" alt="Profile" />
            }
            @else{
               <img src="assets/images/background.png">
            }
            
            <div class="edit" (click)="fileInput.click()">
               <mat-icon>edit</mat-icon>
               <input
                  #fileInput
                  type="file"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                  hidden
               />
            </div>
         </div>
         <p>{{ownUserInfo()?.username}} ({{ownUserInfo()?.name}} {{ownUserInfo()?.surname}})</p>
      </div>

      <div class="navigation">
         <p (click)="selectForm('Profile')" [ngClass]="{ 'active-bar': currentForm === 'Profile' }">Profile</p>
         <p (click)="selectForm('Security')" [ngClass]="{ 'active-bar': currentForm === 'Security' }">Security</p>
         <p (click)="logout()">Log out</p>
      </div>
      
   </div>
   <div class="content-section">
      <div class="info-section">
         <p>{{currentForm}}</p>
      </div>
      <div [routerLink]="['/main']" class="back-button">
         <p>Back</p>
      </div>
      @switch (currentForm) 
      {
         @case ("Profile") {
            <app-profile></app-profile>
         }
         @case ("Security") {
            <app-security></app-security>
         }
         @default {}
      }
   </div>
</div>

