<div id="background">
  <div class="graphicsSVG" id="svg1" >
    <img alt="background image" ngSrc="../../../../assets/images/BackGroundArt.png" fill priority/>
  </div>
  <!-- <app-dialog-add-friend-create-group></app-dialog-add-friend-create-group> -->
  <div id="content">

    <!-- main layout is 3x3 grid -->

    <!-- ROW 1 -->
    <navigation-friends-groups
      (isGroupsViewEnabledEvent)="isGroupsViewEnabled.set($event)"
      class="header left" [class.hidden]="hideLeftColumn()">
    </navigation-friends-groups>

    <app-header-group-friend
      (returnToNormalModeEvent)="returnToNormalChatLayout()"
      [isInFullChatMode]="currentChatLayout() == ChatLayoutStyle.CENTER_ONLY"
      (groupDeleted)="handleGroupDeleted($event)"
      [groupId]="currentGroupId()"
      class="header">
    </app-header-group-friend>

    <app-section-notifications
      class="header" [class.hidden]="hideRightColumn()">
    </app-section-notifications>

    <!-- ROW 2 -->
    <section-group-friends
      [newMessageTrigger]="triggerNewMessagesForAllGroups"
      [groupsViewEnabled]="isGroupsViewEnabled()"
      class="left" [class.hidden]="hideLeftColumn()"
      (groupDeleted)="handleGroupDeleted($event)"
      (groupUpdated)="handleGroupUpdated($event)"
      (onGroupFriendClicked)="currentGroupId.set($event)"
      [editMessageTrigger]="triggerEditMessagesForAllGroups"
      >
    </section-group-friends>

    <app-section-chat
      [currentGroup]="currentGroupId()"
      [newMessageTrigger]="triggerNewMessageForCurrentGroup"
      [deleteMessageTrigger]="triggerDeletedMessageForCurrentGroup"
      [editMessageTrigger]="triggerEditMessageForCurrentGroup"
      (onMessageModified)="triggerEditMessagesForAllGroups.emit([$event])"
    ></app-section-chat>

    <app-section-members
      [class.hidden]="hideRightColumn()"
      [groupId]="currentGroupId()"
      >
    </app-section-members>

    <!-- ROW 3 -->
    <div
      class="footer left" [class.hidden]="hideLeftColumn()">
      <app-card-current-user
        [userName]='fullName()'
        [userImageURL]='currentUserProfileImageURL()'>
      </app-card-current-user>
    </div>

    <app-bar-message-send
      class="footer"
      (click)="switchToFullChatMode()"
      [currentGroupId]="currentGroupId()"
      [currentUser]="userInfo()"
      (triggerSentNewMessage)="this.triggerNewMessageForCurrentGroup.emit($event);"
    >
    </app-bar-message-send>

    <div
      class="footer"
      [class.hidden]="hideRightColumn()">
    </div>
  </div>
</div>

