<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Friend</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="username">Username</label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        maxlength="30" 
        [(ngModel)]="username"
        placeholder="Enter username"
      />
      @if(errorMessage() !== "") {
        <p class="error-message">{{errorMessage()}}</p>
      }
    </p>

    <div class="actions-container">
      <p class="counter">
        <span>{{ usernameLength() }} / 30</span>
      </p>
      <p class="actions">
        <button type="button" (click)="onCancel()">Cancel</button>
        <button type="submit" [disabled]="isLoading()">
          <span *ngIf="isLoading()" class="spinner-border spinner-border-sm me-1"></span>
          Send Request
        </button>
      </p>
    </div>
  </form>
</dialog>