<header [class.unloaded]="messageCenter() || (messageEnd() && !messageStart())" [class.headerLeft]="!isOwnMessage" [class.headerRight]="isOwnMessage">
  <div class="userName">
    {{ userName() }}
  </div>
</header>

<div class="message" [class.message-right]="isOwnMessage" [class.message-left]="!isOwnMessage">
  @if(isOwnMessage) {

    <!-- ------------ -->
    <!-- TEXT MESSAGE -->
    <!-- ------------ -->
    <div class="message-text" [class.message-textRight]="isOwnMessage" [class.message-textLeft]="!isOwnMessage">
      {{ message() }}
    </div>

    <!-- ----------- -->
    <!-- PROFILE PIC -->
    <!-- ----------- -->
    <div class="userImageContainer"
         [class.hidden]="messageCenter() || (!messageStart() && messageEnd())"
         [class.userImageContainerRight]="isOwnMessage"
         [class.userImageContainerLeft]="!isOwnMessage"
    >
      <img class="userImage" fill sizes="10vw" alt="user image" [ngSrc]="profileImageURL()">
    </div>

  } @else {

    <!-- ----------- -->
    <!-- PROFILE PIC -->
    <!-- ----------- -->
    <div class="userImageContainer"
         [class.hidden]="messageCenter() || (!messageStart() && messageEnd())"
         [class.userImageContainerRight]="isOwnMessage"
         [class.userImageContainerLeft]="!isOwnMessage"
  >
      <img class="userImage" fill sizes="10vw" alt="user image" [ngSrc]="profileImageURL()">
    </div>

    <!-- ------------ -->
    <!-- TEXT MESSAGE -->
    <!-- ------------ -->
    <div class="message-text" [class.message-textRight]="isOwnMessage" [class.message-textLeft]="!isOwnMessage">
      {{ message() }}
    </div>
  }

  <!-- -------------- -->
  <!-- ATTACHED IMAGE -->
  <!-- -------------- -->
  @if (attachmentUrl() != null && showAttachment()) {
    @if(!isOwnMessage) {
      <div> <!-- Empty div for correct grid layout --> </div>
    }
    <img class="displayedImage" [class.displayedImageRight]="isOwnMessage" [class.displayedImageLeft]="!isOwnMessage"
         sizes="100%, auto" fill alt="attached image" [ngSrc]='attachmentUrl() ?? ""' >
    @if(isOwnMessage) {
      <div> <!-- Empty div for correct grid layout --> </div>
    }
  }

  <!-- ---------------------- -->
  <!-- ATTACHMENT TO DOWNLOAD -->
  <!-- ---------------------- -->
  @if(hasAttachment()) {
    @if(!isOwnMessage) {
      <div> <!-- Empty div for correct grid layout --> </div>
    }
    <div class="attachments" [class.displayedImageRight]="isOwnMessage" [class.displayedImageLeft]="!isOwnMessage">
      <a download target="_blank" [href]="attachmentUrl()">
        <mat-icon id="fileDownload" svgIcon="fileDownload"></mat-icon>
        <p>{{attachmentName()}}</p>
      </a>
      <div id="file-details">type: {{attachmentType().split('/')[attachmentType().split('/').length-1]}}, size: {{attachmentSize().toFixed(2)}} MB</div>
    </div>
    @if(isOwnMessage) {
      <div> <!-- Empty div for correct grid layout --> </div>
    }
  }

  @if(showConfirmDialog()) {
    <div class="dialog">
      {{dialogText}}
      <div id="dialogButtons">
        <button (click)="onMessageDeletedEvent.emit()">Yes</button>
        <button (click)="showConfirmDialog.set(false)">No</button>
      </div>
    </div>
    <div> <!-- Empty div for correct grid layout --> </div>
  }

  <!-- ------------------- -->
  <!-- DATE OF THE MESSAGE -->
  <!-- ------------------- -->
  @if(!isOwnMessage) {
    <div> <!-- Empty div for correct grid layout --> </div>
  }

  <div class="date"
       [class.hidden]="messageCenter() || (messageStart() && !messageEnd())"
       [class.date-hidden]="messageCenter() || (messageStart() && !messageEnd())"
       [class.date-visible]="messageEnd()"
       [class.marginBottom]="!messageCenter() && !messageStart()"
       [class.dateRight]="isOwnMessage"
       [class.dateLeft]="!isOwnMessage"
  >
    {{ date() }}
  </div>


  <div id="edit" class="edit-middle">
    @if (isOwnMessage && !showConfirmDialog()) {
      <mat-icon svgIcon="edit" (click)="onMessageEditClickedEvent.emit()"></mat-icon>
      <mat-icon svgIcon="trash" (click)="showConfirmDialog.set(true)"></mat-icon>
    }
  </div>


</div>
