<div class="background">
    <div class="box-login">
        <h1 class="text-front">SIGNALITE</h1>
        <h1 class="text-back">SIGNALITE</h1>
        <img class="logo" src="assets/images/logo.png"/>
        <div class="background-shadow"></div>
        <div class="background-login"></div>
        <div class="content-login">
            <h2>Login</h2>
            <div class="line"></div>
            <form>
                <div class="form-box">
                    <input name="email" type="email" placeholder="email" required>
                </div>
                <div class="form-box">
                    <input name="password" type="password" placeholder="password" required>
                </div>
                <div class="button-box">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
            <p>Don't have account? <a href="#">Sign up</a></p>
        </div>
    </div>
</div>