<div class="background">
    <div class="box-login">
        <h1 class="text-front">SIGNALITE</h1>
        <h1 class="text-back">SIGNALITE</h1>
        <img class="logo" src="assets/images/logo.png"/>
        <div class="background-shadow"></div>
        <div class="background-login"></div>
        <div class="content content-login" *ngIf="currentForm === 'login'" [@fadeAnimation]>
            <h2 class="header">Login</h2>
            <div class="line"></div>
            <form>
                <div class="form-box">
                    <input name="email" type="email" placeholder="" required>
                    <label for="email" class="placelabel">Email</label>
                </div>
                <div class="form-box">
                    <input name="password" type="password" placeholder="" required>
                    <label for="password" class="placelabel">Password</label>
                </div>
                <div class="button-box">
                    <button type="button" class="button-style">Login</button>
                </div>
            </form>
            <div class="box-next">
                <p>Don't have account? <button type="button" (click)="toggleForm('registerMain')" class="as-link">Sign up</button></p> 
            </div>
        </div>

        <div class="content content-register-main" *ngIf="currentForm === 'registerMain'" [@fadeAnimation]>
            <h2 class="header">Register</h2>
            <div class="line"></div>
            <form>
                <div class="form-box">
                    <input name="emailRegister" type="email" placeholder="" required>
                    <label for="email" class="placelabel">Email</label>
                </div>
                <div class="form-box">
                    <input name="passwordRegister" type="password" placeholder="" required>
                    <label for="password" class="placelabel">Password</label>
                </div>
                <div class="form-box">
                    <input name="confirmPassword" type="password" placeholder="" required>
                    <label for="password" class="placelabel">Confirm password</label>
                </div>
                
                <div class="button-box">
                    <button type="button" (click)="toggleForm('registerExtra')" class="button-style">Register</button>
                </div>
            </form>
            <div class="box-next">
                <p>Have account? <button type="button" (click)="toggleForm('login')" class="as-link">Sign in</button></p> 
            </div>
        </div>

        <div class="content content-register-extra" *ngIf="currentForm === 'registerExtra'" [@fadeAnimation]>
            <h2 class="header">Register</h2>
            <div class="line"></div>
            <form>
                <div class="form-box">
                    <input name="username" type="text" placeholder="" required>
                    <label for="text" class="placelabel">Username</label>
                </div>
                <div class="form-box">
                    <input name="name" type="text" placeholder="" required>
                    <label for="text" class="placelabel">Name</label>
                </div>
                <div class="form-box">
                    <input name="surname" type="text" placeholder="" required>
                    <label for="text" class="placelabel">Surname</label>
                </div>
                <div class="button-box">
                    <button type="button" class="button-style">Next</button>
                </div>
            </form>
            <div class="box-next">
                <p><button type="button" (click)="toggleForm('registerMain')" class="as-link">Back</button></p> 
            </div>
        </div>
    </div>
</div>