<div class="background">
    <div class="box-login">
        <h1 class="text-front">SIGNALITE</h1>
        <h1 class="text-back">SIGNALITE</h1>
        <img class="logo" src="assets/images/logo.png"/>
        <div class="background-shadow"></div>
        <div class="background-login"></div>
        <div class="content-login">
            <h2>Login</h2>
            <div class="line"></div>
            <form>
                <div class="form-box">
                    <input name="email" type="email" placeholder="" required>
                    <label for="email" class="placelabel">Email</label>
                </div>
                <div class="form-box">
                    <input name="password" type="password" placeholder="" required>
                    <label for="password" class="placelabel">Password</label>
                </div>
                <div class="button-box">
                    <button type="button" class="button-style">Login</button>
                </div>
            </form>
            <div class="box-next">
                <p>Don't have account? <a href="#">Sign up</a></p>
            </div>
        </div>

        <div class="content-register-main">

        </div>

        <div class="content-register-extra">

        </div>
    </div>
</div>