*{
    user-select: none;
}

:host {
    --bg-first-color: #424374;
    --bg-second-color: #1a1a2d;
    --bg-box-login-first-color: #3d6cb7;
    --bg-box-login-second-color: #8c1dbc80;
    --title-first-color: #5a95fc;
    --title-second-color: #8659dd;
    --title-third-color: #aa2bc5;
    --text-color: #eff2ff;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--bg-first-color) 0%,var(--bg-second-color) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login {
    position: relative;
    width: 500px;
    height: 700px;
}

.box-login h1 {
    position: absolute;
    text-align: center;
    top: -50px;
    width: 100%;
    font-size: 5em;
    background: linear-gradient(to right, var(--title-first-color) 0%, var(--title-second-color) 50%, var(--title-third-color) 100%);
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    font-weight: bold;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-login .text-front{
    z-index: 1;
}

.box-login .text-back{
    top: -46px;
    left: 4px;
    text-shadow: 0px 0px 4px #00000033;
}

.logo{
    position: absolute;
    top: 20px;
    width: 100%;
    height: auto;
}

.background-shadow{
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(#34345c,#00000000);
}

.background-login{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--bg-box-login-first-color) 0%, var(--bg-box-login-second-color) 100%);
    filter: blur(4px);
    border-radius: 20px 20px 20px 20px;
}

.content{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5% 10% 5% 10%;
}

/* .content-login{
    display: flex;
}

.content-register-main{
    display: none;
}

.content-register-extra{
    display: none;
} */

.header{
    padding-top: 50px;
    font-size: 3.5em;
    background: linear-gradient(to bottom, rgba(140, 167, 255, 1) 0%,rgba(189, 113, 255, 1) 100%);
    font-style: italic;
    font-weight: bold;
    pointer-events: none;
    font-family: "Source Sans Pro", sans-serif;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    background-color: #c9c9c940;
    width: 100%;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: content-box;
}

.form-box input{
    background: #ffffff33;
    border: transparent;
    border-radius: 10px;
    width: 400px;
    font-size: 1.5em;
    padding: 10px;
    color: var(--text-color);
}

.placelabel {
    position: absolute;
    font-size: 1.5em;
    padding: 10px;
    color: var(--text-color);
    pointer-events: none;
    transition: 0.2s ease;
}

input:focus{
    outline: 2px solid rgba(255, 255, 255, 0.425);
}

input:focus + .placelabel,
input:valid + .placelabel,
input:not(:placeholder-shown) + .placelabel{
    transform: translate(0,-60%);
    font-size: 1em;
}

.button-box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.button-style{
    padding: 5px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    box-shadow: 5px 5px 10px #00000038;
    background: #465a99FF;
    color: var(--text-color);
}

.button-style:hover{
    background: rgb(54, 69, 119);
}

.button-style:active{
    background: rgb(38, 51, 92);
}

.box-next{
    position: absolute;
    color: var(--text-color);
    bottom: 20px;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
}


.as-link {
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}