<header>
  Members
</header>
<div class="content">
  <app-card-member [isOnline]="true"></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member [isOnline]="true"></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member [isOnline]="true"></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
  <app-card-member></app-card-member>
</div>
