@if (isDeletingUser()) {
    <app-delete-user-confirmation 
    [groupId]="groupId()"
    [user]="user()" 
    (close)="onCloseAdd()"
    (userDeleted)="loadMembers()"
    >
    </app-delete-user-confirmation>
}

@if (areDetailsVisible()) {
  <app-member-details
  [userId]="user().id"
  [isOnline]="isUserOnline(user().id)"
  (close)="onCloseDetails()"
  >
  </app-member-details>
}

@if (groupId() > 0) {
  <div class="content">
  @if (loading()) {
    <div class="loading"></div>
  } @else if (error()) {
  } @else if (members().length === 0 && owner().id === -1) {
    <div class="empty-state">
      Brak członków w tej grupie
    </div>
  } @else {
    @if (!isGroupPrivate()) {
    <header>
      Owner
    </header>
     <app-card-member 
        [user]="owner()" 
        [isOnline]="isUserOnline(owner().id)"
        [isPrivate]="isGroupPrivate()"
        (startDeletingUser)="onStartAdd()"
        (startShowingUserDetails)="onShowDetails()"
        (emitedUser)="setUser($event)">
      </app-card-member>
    }
    @if (members().length !== 0) {
    <header class="membersHeader">
      Members
    </header>
    @for (member of this.members(); track member.id) {
      <app-card-member 
        [user]="member" 
        [isOnline]="isUserOnline(member.id)"
        [isPrivate]="isGroupPrivate()"
        (startDeletingUser)="onStartAdd()"
        (startShowingUserDetails)="onShowDetails()"
        (emitedUser)="setUser($event)">
      </app-card-member>
    }
    } 
  }
</div>
}
