:host {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.content {
  margin: 0;
  width: 20em;
  height: 10em;
  max-width: 90%;
  max-height: 100%;

  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(22, 14, 76);
}
