<header>
    <label class="notification-label">
      <div class="icon-container">
        <mat-icon 
          svgIcon="notification" 
          class="toggler-off notification-icon" 
          (click)="toggleFriendRequests()"
          [class.active]="showFriendRequests()"
        ></mat-icon>
        @if (pendingRequestsCount() > 0) {
          <span class="notification-badge">{{ pendingRequestsCount() }}</span>
        }
      </div>
    </label>
  </header>
  
  @if (showFriendRequests()) {
    <app-friend-requests-list (close)="closeFriendRequests()"></app-friend-requests-list>
  }