<div class="imageContainer">
  <div class="activity" [class.online]="isOnline()" [class.offline]="!isOnline()"></div>
  <img fill sizes="10vw" class="userImage" alt="user/group image" [ngSrc]="user()?.profilePhotoUrl ?? '../../../../assets/images/default-user.jpg'">
</div>
<section>
  <div id="userName">{{ user()?.username }}</div>
</section>
@if (currentUserId() !== user()!.id && !isPrivate()) {
<div class="iconContainer">
  <div (click)="showUserDeleteConfirmation()" class="clickableIcon">
    <mat-icon  class="dropdown-icon">clear</mat-icon>
  </div>   
</div>
}

