<div class="background"></div>

<div class="content">
   <div class="navbar">
      <div class="profile">
         <div class="profile-image">
            <img src="assets/images/background.png">
            <div class="edit">
               <mat-icon>edit</mat-icon>
            </div>
         </div>
         <p>Dawidus Pacia I</p>
      </div>

      <div class="navigation">
         <p>Profile</p>
         <p>Security</p>
         <p>Notifications</p>
         <p>Log out</p>
      </div>
      
   </div>
   <div class="content-section">
      <img class="background-image" src="assets/images/background.png">
   </div>
</div>

